<div class="login-container">
  <h1>Change Your Password</h1>

  <% if (error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error[0] %>
    </div>
  <% } %>
  
  <% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success[0] %>
    </div>
  <% } %>

  <form action="/gameverse/change-password" method="POST">
    <label for="oldPassword">Password:</label>
    <input type="password" id="oldPassword" name="oldPassword" required>

    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required>

    <label for="confirmPassword">New Password Again:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>

    <button type="submit">Submit</button>
  </form>
</div>

